**/secrets.json
**/firebase-debug.log
**/bower_components
**/*.bak
**/*.swp
.idea

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
